<h3 class="section-title">Work experience</h3>
<dl class="resume">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title"><strong>{{ job.title }}</strong></p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd class="description">
            {{ job.description | markdownify }}
        </dd>
    {% endfor %}
</dl>
<h3 class="section-title">Education</h3>
<dl class="resume">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title"><strong>{{ qualification.qualification }}</strong></p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
<h3 class="section-title">Stacks and other skills</h3>
<dl class="resume">
    {% for qualification in site.data.skills %}
        <dt>
            <p class="title"><strong>{{ qualification.qualification }}</strong></p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
