// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;

:root {
    --primary-color: #F2D7D5;
    --secondary-color: #E6B0AA;
    --tertiary-color: #D98880;
    --text-color: #1C2833;
    --muted-dark-pink: #C16673;
  }

.navbar {
  background-color: var(--tertiary-color);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1em;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  background: none;
  padding: 0.25em 0.5em;
  transition: background-color linear 0.2s;
}

.navbar a:hover {
  background-color: var(--muted-dark-pink);
}

.about-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.about-main {
  width: calc(100% - 320px);
}

.about-sidebar {
  width: 300px;
  margin-left: 20px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.5em;
  }
  
  .about-title {
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    margin-left: 0;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 600px;
  }
  
  .profile-picture {
    border-radius: 80%;
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  
  .profile-caption {
    font-size: 12px;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5em;
  }
  
  .about-content {
    text-align: left;
    max-width: 800px;

  }  

  title:hover {
    font-weight: 900;
}

body {
    background-color: #F2D7D5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacer;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:24px;
    margin-bottom: ($spacer * 2);
    text-align: center;
    position: relative;
}

.section-title:hover {
    font-weight: 900;
}