@charset "utf-8";
    html {
        background-color: $bg-color;
}
main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}

.site-header {
    .site-title {
        font-weight: 300;
        > a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: #a44360;
            }
        }
    }
    .site-nav {
        > a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: #b36767;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
        	
            color: /* in index */ $meta-color-blog;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: white;
                
            }
        }
    }
}
.categories.blog {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
        	
            color: /* in index */ $meta-color-blog;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: white;
                
            }
        }
    }
}
.categories.found {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
        	
            color: /* in index */ $meta-color-found;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: white;
                
            }
        }
    }
}
.post {
    position: relative;
    .post-header {
    	color: #a44360;
        text-align: center;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: /* in post */ $meta-color-blog;
        font-size: $small-font-size;
    }
}
@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
