// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;

// base colors

:root {
    --primary-color: #F2D7D5;
    --secondary-color: #E6B0AA;
    --tertiary-color: #D98880;
    --text-color: #1C2833;
    --muted-dark-pink: #C16673;
  }

  // navbar

.navbar {
  background-color: var(--tertiary-color);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1em;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  background: none;
  padding: 0.25em 0.5em;
  transition: background-color linear 0.2s;
}

.navbar a:hover {
  background-color: var(--muted-dark-pink);
}

// headers

header {
  padding: ($spacer * 2) 0;
  margin-bottom: ($spacer * 2);
}

.intro {
  margin-bottom: ($spacer * 2);
  &__pre, &__post {
      text-transform: uppercase;
      letter-spacing: 2px;
  }

  &__main {
      font-family: "Helvetica Neue";
      font-size: 3rem;
      line-height: 1.2;
      font-weight: bold;
      margin: 10px 0 20px;

      @media(min-width: 640px) {
          font-size: 2.2rem;
          max-width: 60%;
      }
  }
}

// home page and resume

body {
  background-color: var(--primary-color);
}

a {
  display: inline-block;
  color: #f7f7f7 !important;
  transition: all linear 0.2s;
}

a:hover {
  opacity: 1;
}

// .title {
//   margin: 0;
//   font-weight: 900;
//   font-size: 1.2rem;
// }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacer;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:24px;
  margin-bottom: ($spacer * 2);
  text-align: center;
  position: relative;
}

.section-title:hover {
  font-weight: 900;
}

dl {
  margin-bottom: $spacer;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  margin-bottom: $spacer;
}

@media(min-width: 640px) {
  dt, dd {
      margin-bottom: 60px;
  }

  .resume {
      dt {
          width: 30%;
          padding-right: ($spacer * 2);
      }
      dd {
          width: 70%;
      }
      position: relative;
      border-radius: 8px;
      padding: 1em;
  }

  .resume::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #D98880;
      opacity: 0.3;
      border-radius: 8px;
      z-index: -1;
      transition: opacity 0.3s ease;
  }

  .resume:hover::before {
      opacity: .7;
    }
}

// about page

.about-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.about-main {
  width: calc(100% - 320px);
}

.about-sidebar {
  width: 400px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add some padding inside the sidebar */
}


header.about-header {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-title {
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    margin-left: 0;
  }

  .about-content {
    text-align: left;
    max-width: 800px;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Set the width to fill the container */
    margin-bottom: 50px;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .profile-caption {
    font-size: 12px;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5em;
  }

// my poems page

h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacer;
  @media(min-width: 640px) {
      padding: ($spacer * 5) 0 ($spacer * 2);
      margin-bottom: ($spacer * 3);
  }
}

h2 {
  font-size: 3rem;
        line-height: 1.2;
        font-weight: bold;
        margin: 20px 20px 20px;
}

p {
  font-size: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacer;
}

p em, p i {
  font-style: italic;
}

.poem-title a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.poem-date {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .8);
  padding: 2px 4px;
  border-radius: 1px;
}

.poetry-table-container {
  margin: 20px auto; /* Add top and bottom margins of 20px and center the table horizontally */
  max-width: 80%; /* Set the container width to 80% of its parent element */
}

.poetry-table {
  width: 100%; /* Set the table width to 100% of its container */
}

.poem-list {
  display: flex;
  flex-wrap: wrap;
}

.poem-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: rgba(193, 102, 115, 0.7);
  padding: 0 16px; /* Add padding to the left and right sides */

}

.poem-item:hover {
  background-color: rgba(28, 40, 51, 0.7);
}

.poetry-content {
  background-color: rgba(255, 255, 255, 0.4); /* low opacity white background */
  padding: 16px; /* add padding around the paragraph text */
  display: inline-block; /* change display to inline-block */
  max-width: calc(100% - 16px);
}
