// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
        position: relative;
        border-radius: 8px;
        padding: 1em;
    }

    .experience::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #D98880;
        opacity: 0.3;
        border-radius: 8px;
        z-index: -1;
        transition: opacity 0.3s ease;
    }

    .experience:hover::before {
        opacity: .7;
      }

    .education {
        position: relative;
        border-radius: 8px;
        padding: 1em;
        dt, dd {
            width: 50%;
        }
    }

    .education::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #D98880;
        opacity: 0.3;
        border-radius: 8px;
        z-index: -1;
        transition: opacity 0.3s ease;
    }

    .education:hover::before {
        opacity: .7;
      }
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    display: inline-block;
    color: #f7f7f7 !important;
    background: #C16673;
    opacity: 0.5;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-decoration: none;
    transition: all linear 0.2s;
  }
  a:hover {
    opacity: 1;
  }
