// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Helvetica+Neue:400,700,900);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;

body {
    font-family: $base-font-family, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.intro {
    &__pre, &__post {
        font-family: "Poppins";
    }
        }

.section-title, h1 {
    font-family: "Lato";
    font-weight: 800;
        }

.navbar, .resume, .about-content, .profile-caption, .poem_title, .poem-list, .poem-item, .post-content, .page-content, p {
    font-family: "Poppins";
}

h2, h3, h1.about-title {
    font-family: $base-font-family;
}